.spotlight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: 
        linear-gradient(to right, var(--variable-collection-portgrey) 0.5px, transparent 0.5px),
        linear-gradient(to bottom, var(--variable-collection-portgrey) 0.5px, transparent 0.5px);
}

.button-overall-container{
    margin: 30px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    border-top:0.5px solid var(--variable-collection-portgrey);
    border-bottom:0.5px solid var(--variable-collection-portgrey);
}

.downloadbutton{
    display: flex;
    padding: 16.489px 28.267px;
    justify-content: center;
    align-items: center;
    gap: 6.382px;
    border-radius: 38.29px;
    border: 1.276px solid var(--PortGrey, #CCC);
    color: var(--PortBlack, #1A1A1A);
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.3px;
    width:max-content;
}

.contactbutton{
    display: flex;
    padding: 16.489px 28.267px;
    justify-content: center;
    align-items: center;
    gap: 6.382px;
    border-radius: 38.29px;
    background: var(--PortBlue, #3F8AE2);
    color: var(--PortWhite, #FFF);
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.3px;
    width:max-content;
}

.leftrightlinediv{
    width: 100%;
    border-top:0.5px solid var(--variable-collection-portgrey);
    border-bottom:0.5px solid var(--variable-collection-portgrey);
}
