.navbar{
    background-color: white;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
}

.navbar-items-container{
    border-top: 0.1px solid var(--variable-collection-portgrey);
    border-bottom: 0.1px solid var(--variable-collection-portgrey);
    height: 18px;
    padding-left: 50px;
    width: 100%;
    display: flex;
    gap:5%;
    justify-content: center;
    align-items: center;   
}

.navbar-items > a{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left:0.1px solid var(--variable-collection-portgrey);
    border-right:0.1px solid var(--variable-collection-portgrey);
}

#nav-text {
    font-family: 'Red Hat Display';
    position: relative;
    font-size: 18px;  
    font-weight: 400;
    color: #1A1A1A;
    padding: 0;
    margin:2px 0 0 0;
}
    
    
.navbar-item .text-wrapper {
    font-size: 21.2px;
    left: 0;
    letter-spacing: -0.32px;
    line-height: 21.2px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
    }

@media (max-width: 1200px) {
    .navbar-items-container{
        padding-left: 0px;
    }
}