.rolescomponent-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0 ;
}

.rolestitle{
    color: var(--PortBlack, #1A1A1A);
    font-size: 28.267px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 28.267px */
    letter-spacing: -0.424px;
}

.rolesimg{
    width: 17.078px;    
    height: 23.426px;
    object-fit: cover;
    margin: 0 20px;
}