@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap');

:root {
    --variable-collection-portblack: rgba(26, 26, 26, 1);
    --variable-collection-portblue: rgba(63, 138, 226, 1);
    --variable-collection-portgreen: rgba(143, 255, 0, 1);
    --variable-collection-portgrey: rgba(204, 204, 204, 1);
    --variable-collection-portgrey2: rgba(170, 170, 170, 1);
    --variable-collection-portred: rgba(253, 46, 53, 1);
    --variable-collection-portwhite: rgba(255, 255, 255, 1);
    }
    
*{
    font-family: 'Red Hat Display';
}

a{
    text-decoration: none;
}