body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Targets the scrollbar for Firefox */
* {
  scrollbar-width: thin;            /* 'auto' or 'thin' */
  scrollbar-color: lightgray #f0f0f0; /* thumb and track color */
}

html {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  overflow-y: scroll;
  scroll-behavior: smooth;  
}

body, html {
  overflow-x: hidden; 
}

html::-webkit-scrollbar {
  width: 2px;  
  height: 2px; 
}

html::-webkit-scrollbar-thumb {
  background-color: lightgray;  
  border-radius: 10px;         
}

html::-webkit-scrollbar-track {
  background: #f0f0f0;       
}

.image-square-frame-always{
  position: relative; 
  width: fit-content; 
  height: fit-content; 
  background-color: white; 
  border: 1.178px solid var(--PortBlue, #3F8AE2);   
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-square-frame-always::before, .image-square-frame-always::after, .image-square-frame-always span::before, .image-square-frame-always span::after {
  content: '';
  position: absolute;
  width: 10px; 
  height: 10px; 
  background-color: white; 
  border: 1.178px solid var(--PortBlue, #3F8AE2);   
}

/* Top left corner */
.image-square-frame-always::before {
  top: -5px; 
  left: -5px;
}

/* Top right corner */
.image-square-frame-always::after {    
  top: -5px;
  right: -5px;
}

/* Bottom left corner */
.image-square-frame-always span:first-child::before {
  bottom: -5px;
  left: -5px;
}

/* Bottom right corner */
.image-square-frame-always span:first-child::after {
  bottom: -5px;
  right: -5px;
}