.figmaright-overall-container{
    background-color: var(--PortWhite, #FFF);
    width: 18%;
    margin-bottom: 100px;
}

.color-change-svg path{
    transition: fill 0.2s ease-in-out; /* Smooth transition for color change */
}

.color-change-svg:hover path {
    fill: #000000; /* Changes to black on hover */
}

.figmaright-div1{
    height: 40px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 25px;
    border-bottom:2px solid #DEDEDE ;   
}

.figmaright-div1-p1{
    font-weight: 600;
}

.figmaright-div1-p1, .figmaright-div1-p2, .figmaright-div1-p3{
    font-size: 13.687px;
    font-family: "Red Hat Display";
    cursor: pointer;
    font-style: normal;
    line-height: 21.363px; /* 145.455% */
    letter-spacing: 0.073px;
}

.figmaright-div1-p2{
    font-weight: 400;
    color: var(--PortGrey2, #AAA);
}

.figmaright-div1-p2:hover , .figmaright-div1-p3:hover{
    color: black;
}

.figmaright-div1-p3{
    font-weight: 400;
    color: var(--PortGrey2, #AAA);
}

.figmaright-div2{
    display: flex;
    height: 40px;
    border-bottom:2px solid #DEDEDE ;   
    
}

.figmaright-div3{
    height: fit-content;
    padding: 0 0 0 10px;
    border-bottom:2px solid #DEDEDE ;   
}

.figmaright-div3-div1{
    height: 40px;
    margin-top: 2PX;
    padding: 0 10px 0 2px ;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.figma-right-p{
    color: var(--PortBlack, #1A1A1A);
    padding-left: 10px;
    font-family: "Red Hat Display";
    font-size: 13.687px;
    font-style: normal;
    font-weight: 520;
    line-height: 21.363px; /* 145.455% */
    letter-spacing: 0.073px;
}

.figmaright-div3-div2{
    padding: 0 10px 0 20px ;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.frameycomp{
    padding-left: 4px;
}

.FrameCompDiv12{
    margin-left: 0px;
    display: flex;
    min-width: 100px;
    align-items: center;
    justify-content:left;
    gap: 15px;
}

.FrameCompDiv34{
    margin-left: -3px;
    display: flex;
    min-width: 100px;
    align-items: center;
    justify-content:left;
    gap: 15px;
}

.figmaright-input {
    border: none;      
    outline: none; 
    width: 50px;     
    font-size: 12px;
    padding: 3px;
}

.figmaright-input:focus {
    outline: none;
    background-color: var(--PortGrey2, #aaaaaa34);
    border-radius: 5px;
}

.figmaright-div3-div3{
    padding-left: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-left: -6px;
    justify-content:space-evenly;

}

.figmaright-div3-div4{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;

}

.figmaright-div3-div5{
    padding-left: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content:left;
    gap: 5px;
}

.figmaright-div3-div5 input[type="checkbox"] {
    transform: scale(1.2);
}

.FrameCompDiv5{
    margin-left: -3px;
    display: flex;
    align-items: center;
    min-width: 100px;
    justify-content:left;
}

.FrameCompDiv6{
    margin-left: -7px;
    display: flex;
    min-width: 100px;
    align-items: center;
    justify-content:left;
}

.figmaright-div4{
    padding: 0 10px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 40px;
    border-bottom:2px solid #DEDEDE ;   
}

.figmaright-div5{
    padding: 0 10px;
    height: 40px;   
    justify-content: space-between;
    border-bottom:2px solid #DEDEDE ;   
    display: flex;
    align-items:center;
}

.figmaright-div6{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items:center;
    height: fit-content;
    border-bottom:2px solid #DEDEDE ;   
}

.figmaright-div6-div1{
    display: flex;
    width: 100%;
    align-items:center;
    justify-content: space-between;
}

.framefillcompdiv{
    display: flex;
    padding: 0 10px;
    gap: 5px;
    align-items:center;
}

.figmaright-div6-div2{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.figmaright-div6-div3{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.frame-flex{
    display: flex;
}

.figmaright-div7{
    padding: 0 10px;
    height: 40px;
    justify-content: space-between;
    border-bottom:2px solid #DEDEDE ;   
    display: flex;
    align-items:center;
}

.figmaright-div8{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 40px;
    border-bottom:2px solid #DEDEDE ;   
}

.figmaright-div9{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

@media (max-width: 1500px){
    .figmaright-div3-div2{
        padding-left: 15px;
    }

    .frameycomp{
        padding-left: 0px;
    }
    
}

@media (max-width:1200px) {
    .figmaright-overall-container{
        display: none;
    }
}